.searchBox {
    position: relative;
    width: 500px;
    height: 35px;
    margin: 25px 0 20px 0;
}

.filterBar {
    width: 80%;
    height: 100%;
    border: solid 1px silver;
    border-radius: 15px;
    padding-left: 40px;
    font-size: 16px;
    outline: none;
    margin-right: 30px;
}

.icon-search {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 2px solid gray;
    position: absolute;
    left: 12px;
    margin: 8px auto;
}

.icon-search:after {
    content: "";
    transform: rotate(45deg);
    width: 7px;
    height: 2px;
    position: absolute;
    top: 13px;
    left: 11px;
    background-color: gray;
}

.search-advanced-box{
    border: 1px silver solid;
    padding: 20px;
    margin-bottom: 25px;
}

.search-advanced-box label{
    padding-right: 10px;
}

.search-advanced-box label:nth-child(3){
    padding-left: 20px;
}

.search-advanced-box button{
    margin-left: 30px;

}